.boite{
    height: 10vh;
    width: 18vh;
    background-color: bisque;
    border: 10px solid black;
    float:left;
    margin: 2px;
    padding: 20px;
    background: url("../img/OIP.jfif");
    background-repeat :inherit;
    border: 5px double black; 
    /* taille:;
    style:; 
    couleur de la bordure:;  */
    margin: 5vh 1vh 5vh 1vh;
    /*float : left;*/
    /*transition: margin 5.5s;*/ 
}


