.container{ 
    width:1300px;
    margin:30px auto;
}
header{
    background-color: #8E3557;
}
nav{
background-color:#4A1A2C;
height: 50px;
padding-left:2em;
line-height:45px;
text-align:center;
}
nav a{
color:white;
font-size:20px;
padding-left:2em;
border-right:1px white solid #fff;
padding-right:2em;
}
footer{
    background-color: palevioletred;
    height: 100px;
}
nav a:last-child{
    border-right:none;
}
section{
display:flex; 
flex-flow:row wrap;
justify-content:space-around;
}

section div{
    width: 32vw;
    height: 50vh;
}
.zone1,.zone4{
    background:linear-gradient(to left,#40a497,#6840a4);
    }
    .zone2,.zone3{
        background-color:#73ADCE;
    }

    .zone3,.zone4{
margin-top: 15px;      
    }
        
        main{
            border:1px solid black;
        }
        @media screen and (max-width:768px) {
            .container{
                width: 90%;
            }
    header{
        background-color: #568e35;
    }       
    section div{
        width:80vw;/*chaque div va prendre 80% de l'espace disponible*/
    } 
    section{
        flex-direction: column;/*on peut changer l axe principal de flex pour avoir affichage en bloc pour chaque div*/
        align-items:center;
    }
    nav a{
        display: block;
        font-size: 16px;
        border:none;
}
nav{
    height:150px;
    line-height:30px;
}
.zone2{
    margin-top: 15px;
}
footer{
    background-color: #568e35;
}
        }