.box{
    display:flex;
    width: 40%;
    margin:auto;
    /* height: 600px;
    height: 100vh; */
    /* background-color: #4a1a2c; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
    /* valeur par défaut */
    align-items: stretch;
    /* ligne du haut */
    align-items: flex-start;
    /* ligne du bas */
    /* align-items: flex-end;
    align-items: center;
    align-content: center;
    align-content: flex-start;
    align-content: flex-end; */
    align-content: space-between;
    /* align-content: space-around; */
}

.vert{
background-color:green;
border: 2px solid black ;
height:50px; 
width: 50px ;
border-radius:10% 20% 40% 60% ;
}

.bleu{
    background-color:blue;
    border: 2px solid black ;
    height:50px; 
    width: 50px;    
    border-radius:10% 20% 40% 60% ;
}

.turquoise{
    background-color:turquoise;
    border: 2px solid black;
    height:50px; 
    width: 50px;    
    border-radius:10% 20% 40% 60%;
}

.rouge{
    background-color:red;
    border:2px solid black ;
    height:50px; 
    width: 50px ;    
    border-radius:10% 20% 40% 60%;
}

.rose{
    background-color:green;
    border: 2px solid black ;
    height:50px; 
    width: 50px ;    
    border-radius:10% 20% 40% 60% ;
}
.blanc{
    border: 2px solid white ;
    height:50px; 
    width: 50px ;    
    border-radius:10% 20% 40% 60% ;
}