body {
  width: 100px;
  height: 100px;
}
main {
  margin: center, left 50px;
}
.block1 {
  width: 50%;
  height: 50%;
}
.block2 {
  width: 50%;
  height: 50%;
}
.block3 {
  width: 50%;
  height: 50%;
}
.block4 {
  width: 50%;
  height: 50%;
}
p {
  text-align: center;
}
