.mainly {
  margin-left: auto;
  margin-right: 50px;
  display: block;
}
#nav {
  padding: 10px;
  margin: 10px;
}
#nav li {
  display: inline;
}
.div1 {
  display: flex;
}
.div2 {
  display: flex;
  border: 15px, 15px, 15px, 15px;
  background-color: aqua;
}

.div4 {
  display: flex;
}
.div5 {
  display: flex;
}
.div6 {
  display: flex;

  border-color: blue;
  padding: 50px;
}
#nav2 {
  padding: 10px;
  margin: 10px;
}
#nav2 li {
  display: inline;
  background-color: blue;
  text-align: justify;
}
.bord {
  border: 15px, 15px, 15px, 15px;
  background-color: aqua;
}
