.conteneur {
  width: 75%;
  margin: auto;
  display: block;
}
#nav {
  padding: 10px;
  margin: 10px;
}
#nav li {
  display: inline;
}
.div1 {
  display: flex;
}
.div2 {
  display: flex;
  border: 15px, 15px, 15px, 15px;
  background-color: aqua;
  padding-left: 15%;
}
.imageBandeau {
  width: 100%;
}
.div4 {
  display: flex;
}
.div5 {
  display: flex;
}
.div6 {
  display: flex;

  border-color: blue;
  padding: 50px;
}
#nav2 {
  padding: 10px;
  margin: 10px;
}
#nav2 li {
  display: inline;
  background-color: blue;
  text-align: justify;
}
.bord {
  border: 15px, 15px, 15px, 15px;
  background-color: aqua;
}
/* **************partie mobile**************** */
@media only screen and (max-width: 768px) {
  .col-3 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .img {
    width: 50%;
  }
  .zone_1 {
    flex-wrap: wrap;
  }
  header {
    background-color: red;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
}
