*{
    font-family: fantasy;
}

body{
    width: 50%;
    /*largeur de ma page 50% de l'écran*/
    margin : auto;
    /* gestion automatique des marges pur que mon tableau soit centré*/
}

table{
    border: 4px solid #483d8b;
    /* bordure - 3 valeurs : épaisseur : type de trait : couleur */
    border-collapse: collapse;
    /* par défaut la bordure contient 2 traits, pour que le trait soit un */
width: 90%;
/* largeur du tableau par rapport à son contenant donc ici au body / ! \ ne pas oublier la règle de l' héritage*/
margin: 25px;
}

thead, 
tfoot {
    background-color: #e6e6fa;
    border: 2px solid #d17b0c
}

tbody {
    border:1px solid #6e5acd;
}

th{
    border: 1px dotted #6a5acd;
    /* dotted = pointillés*/
    padding: 4px;
    background-color: #e6e6fa;
    width: 25px
}

td { 
    font-size: 100%;
    border: 1px dotted #483d8b; 
    text-align: center;
    background-color: #e6e6fa;

}

td:first-child{
    text-align: left;
    background-color: #e6e6fa; 
}








