body{
    width: 50%;
    margin:auto;
    
}
table{
    border:1px solid black;
    
    border-collapse:collapse;

}
thead { 
    border:1px solid black;
    padding:30px;
}
th{
    border:1px solid black;
    padding:30px;
}
tbody {
    border:1px solid black;
}
tr{
    border:1px solid black;
    padding:30px;
}

td{
    border:1px solid black;
    padding:30px;
}

.jaune{
    background-color: yellow;
}
.noir{
    background-color: black;
}

.gris{
    background-color:grey;
}

.bleu{
    background-color:blue;

}
