body {
    margin: 0 auto;
    /*
        margin: 0 auto 0 auto; -> haut droite bas gauche
        margin: 0;
        margin: 0 auto 1; (gauche ->auto)
    */
    background-color: AntiqueWhite;
}

div {
    width: 90%;
    margin: 0 auto;
    background-color: LightSteelBlue;
}

p {
    background-color: mediumaquamarine; 
    /*propriété suivante à tester !*/
    /*display: inline;*/
}
p span { /*sélectionne les span contenus dans des p*/
    background-color: yellow;
}

.boite {
    height: 11vh;
    width: 18vh;
    padding: 5vh;
    background: url(../img/siamois.jpg);
    background-repeat: no-repeat;
    border: 5px double orchid; /*taille, style, couleur de la bordure*/

    /* https://outils-css.aliasdmc.fr/unites-de-longueurs-css.php
        EM: Relative to the parent element

        REM: Relative to the root element (HTML tag)

        %: Relative to the parent element

        VW: Relative to the viewport’s width

        VH: Relative to the viewport’s height
    */
    
    margin: 2vh; 
    float: left; /*effet flottant, permet de placer des balises côte à côte alors que selon le flux du web standard les éléments se placent les uns au-dessus des autres.*/
    transition: margin 0.5s;
}
.boite:hover { /*la pseudo-classe :hover modifie un affichage au survol de la souris*/
    margin-top: 10vh;
}
.clear {
    clear: both; /*supprime l'effet flottant*/
}
